[package]
name = "rhai-rand"
version = "0.1.1"
edition = "2018"
authors = ["Stephen Chung", "Jay Thomas"]
description = "Random number package for Rhai"
homepage = "https://rhai.rs"
repository = "https://github.com/rhaiscript"
readme = "README.md"
license = "MIT OR Apache-2.0"
keywords = ["scripting", "scripting-language", "embedded", "rhai", "random"]
categories = ["embedded"]

[dependencies]
rhai = { version = "^1.2" }
rand = { version = "0.8", features = ["alloc"] }

[features]
default = [ "float", "array" ]
metadata = [ "rhai/metadata" ]
float = []
array = []
